* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: rgb(234, 222, 233);
    font-family: 'Montserrat', sans-serif;
    color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}


.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoThialita {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #b9a99e;
}

.apresentacao {
    text-align: center;
    margin-top: 10px;
}

.apresentacao h1 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 2px;
}

.apresentacao2 {
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 12px;
}

.esmaltacao,
.along {
    border: none;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #e89aaa;
}

.esmaltacao {
    margin-right: 8px;
}

.along {
    margin-left: 8px;
}


.containerBotoes {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

#portifolio,
#valores,
#sobre,
#contato {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e89aaa;
    color: #171717;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
    transition: 0.2s;
    gap: 85px;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: none;
}

.botoes button:hover {
    transform: scale(1.03);
    background: #e394a4;
}